<div class="signup_form">
  <div class="container">
    <div class="col-md-2 col-md-offset-5 bg-light">
      
      <h2 class="text-center">Sign up</h2>
      <hr id="signup_delimiter">
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
        <div class="row">
          <div class="field form-group">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
          </div>
        </div>
        
        <div class="row">
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div class="row">
          <div class="field form-group">
            <%= f.label :personalName, "Personal name" %> <br />
            <%= f.text_field :personalName %>
          </div>
        </div>
        
        <div class="row">
          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <p><em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %></p>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>
      
        <div class="row">
          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
      
        <div class="row">
          <div class="actions">
            <%= f.submit "Sign up", "class" => "btn btn-primary btn-block" %>
          </div>
        </div>
      <% end %>
      
      <%= render "devise/shared/error_messages", resource: resource, id: "signup_error" %>
    </div>
  </div>
</div>